@model User;
@{
    Layout = "_MainLayout";
}

@*<p>First Name: @Model.FirstName</p>
<p>Last Name: @Model.LastName</p>
<p>Email Address: @Model.EmailAddress</p>*@ 


@* it needs to pass the user that is logged in and grab their info - login user controller stuff *@

<h1>Welcome @Model.FirstName</h1>

<div>
    <h3>User Information</h3>
    <p>First Name: @Model.FirstName</p>
    <p>Last Name: @Model.LastName</p>
    <p>Email Address: @Model.EmailAddress</p>


    <div>
        <a  asp-controller="User" asp-action="Edit" class="btn btn-success">Edit Account</a>
    </div>
</div>