@model User;
@{
    Layout = "_MainLayout";
    var editAccountParams =  new Dictionary<string, string> {{ "id",  Model.Id.ToString() }};
}


@* it needs to pass the user that is logged in and grab their info - login user controller stuff *@
<html>

<head>
    <link rel="stylesheet" href="~/css/AccountInfoStyleSheet.css" />
</head>
<body>
<h1 style="width: 80%; margin-left:10%" class="text-center jumbotron ">Welcome @Model.FirstName !</h1>

<div class="box">
    <h3>User Information</h3>
    <p>First Name: @Model.FirstName</p>
    <p>Last Name: @Model.LastName</p>
    <p>Email Address: @Model.EmailAddress</p>
    <div>
        <a asp-action="Edit" asp-all-route-data="@editAccountParams" class="btn btn-success">Edit Account</a>
    </div>
</div>
</body>
</html>