<!--
Base code for this invoice came from:
https://bootsnipp.com/snippets/9gjD
-->

@model Invoice

@{
    Layout = "_OtherLayout";
}

<div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="invoice-title">
                    <h2>EZInvoice</h2><h3 class="align-content-lg-end">Invoice # @Model.Id</h3>
                </div>
                <hr>

                <div class="row">
                    <div class="col-xs-6">
                        <address>
                            <strong>Billed To:</strong><br>
                            @Model.Client.Name<br>
                            @Model.Client.Street<br>
                            @Model.Client.City, @Model.Client.Province <br>
                            @Model.Client.Postal_code @Model.Client.Country
                        </address>
                    </div>
                    <div class="col-xs-6 text-right">
                        <address>
                            <strong>Shipped To:</strong><br>
                            @Model.Client.Name<br>
                            @Model.Client.Street<br>
                            @Model.Client.City, @Model.Client.Province <br>
                            @Model.Client.Postal_code @Model.Client.Country
                        </address>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <address>
                            <strong>Client Email:</strong><br>
                            @Model.Client.Email
                        </address>
                    </div>
                    <div class="col-xs-6 text-right">
                        <address>
                            <strong>Order Date:</strong><br>
                            @Model.DateOfIssue<br><br>
                        </address>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Order summary</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <td class="text-center"><strong>Item Number</strong></td>
                                        <td class="text-center"><strong>Description</strong></td>
                                        <td class="text-center"><strong>Cost</strong></td>
                                        <td class="text-center"><strong>Quantity</strong></td>
                                        <td class="text-center"><strong>Totals</strong></td>
                                        <td class="text-center"><strong>Edit Item</strong></td>
                                        <td class="text-center"><strong>Delete Item</strong></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.InvoiceItems)
                                    {
                                        <tr class="text-center">
                                            <td>@item.ItemNo</td>
                                            <td>@item.ItemDescription</td>
                                            <td>@item.Cost</td>
                                            <td>@item.Quantity</td>
                                            <td>$ @item.Total()</td>
                                            <td><a asp-action="EditItem" asp-controller="Invoice" asp-route-id="@item.Id" class="btn btn-info">Edit Item</a></td>
                                            <td><a asp-action="DeleteItem" asp-controller="Invoice" asp-route-id="@item.Id" class="btn btn-danger">Delete Item</a></td>
                                        </tr>
                                    }

                                    <tr class="text-center">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><strong>Subtotal</strong></td>
                                        <td>$@Model.Total()</td>
                                    </tr>
                                    <tr class="text-center">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><strong>Tax</strong></td>
                                        <td>$@Model.Tax()</td>
                                    </tr>
                                    <tr class="text-center">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><strong>Total</strong></td>
                                        <td>$ @Math.Round(Model.Tax() + Model.Total(), 2)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="text-center">
    <a asp-action="EditInvoice" asp-controller="Invoice" asp-route-id="@Model.Id" type="button" class="btn btn-info">Edit Invoice</a>
    <a asp-action="PayInvoice" asp-controller="Invoice" asp-route-id="@Model.Id" type="button" class="btn btn-success">Pay Invoice</a>
</div>
<div class="text-center">
    <a asp-action="CreateItem" asp-controller="Invoice" class="btn btn-primary">Add Item to Invoice</a>
</div>