@model IEnumerable<Invoice>

@{
    Layout = "_MainLayout";
}
<div class="jumbotron text-center">
    <h1>Main Invoices Page</h1>
</div>

<table class="table table-sm table-striped table-bordered text-center">                
    <thead>
    <tr>
        <th>Client Name</th>
        <th>Invoice No.</th>
        <th>Date Issued</th>
        <th>Date Due</th>
        <th>Invoice Status</th>
        <th>Edit Invoice</th>
        <th>View Invoice</th>
        <th>Delete Invoice</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var invoice in Model) {
        <tr>
            <td>@invoice.Client.Name</td>
            <td>@invoice.Id</td>
            <td>@invoice.Date_of_issue</td>
            <td>@invoice.Due_date</td>
            @if (invoice.Paid == false)
            {
                <td>Outstanding</td>
            }
            else { 
                 <td>Paid</td>
            }
            <td><a asp-action="EditInvoice" asp-controller="Invoice" asp-route-id="@invoice.Id" class="btn btn-secondary">Edit Invoice</a></td>
            <td><a asp-action="InvoiceDetail" asp-controller="Invoice" asp-route-id="@invoice.Id" class="btn btn-info">View Invoice</a></td>
            <td><a asp-action="DeleteInvoice" asp-controller="Invoice" asp-route-id="@invoice.Id" class="btn btn-danger">Delete Invoice</a></td>
        </tr>
    }
    </tbody>
</table>

<div class="text-center">
    <a asp-action="CreateInvoice" class="btn btn-primary">Create Invoice</a>
</div>